@model IEnumerable<smartattendancesystem.Models.Holiday>

@{
    ViewData["Title"] = "Index";
}

<h2>All Holiday lists</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table id="table" class="table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <button>       <a asp-action="Edit" asp-route-id="@item.HolidayId" class="btn-circle">Edit</a> </button>|
                    <button><a asp-action="Details" asp-route-id="@item.HolidayId" class="btn-circle">Details</a></button> |
                    <button> <a asp-action="Delete" asp-route-id="@item.HolidayId" class="btn-circle">Delete</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{

    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                "scrollY": 200,
                "scrollX": true
            });
        });


    </script>
}